.card{
  display:flex;
  width:760px;
  margin:20px auto;}
 
.card__img{
  width:40%;
}

img{
  width:100%;
  vertical-align: top;
}

.card__content{
  padding:20px;
  border:1px solid black;
}

.card__text{
  font-size:20px;
  font-weight:bold;
}

.card__tag{
  display:flex;
  margin-top:40px;

}

.card__tag__list{
  margin-right:20px;
  font-size:15px;
  font-weight:bold;
}

.card__tag__list--red{
  color:red;
}