.tab{
  width:500px;
  margin:20px  auto;
}

.tab-menu{
  display:flex;
 

}

.tab-menu__item{
  display:inline-block;
  border:1px solid black;
  border-bottom:none;
  text-align:center;
  padding:10px 0;
  font-weight:bold;
  font-size:12px;
  list-style:none;
  cursor:pointer;
  width:100px;
}

.tab-menu__item:not(:first-child){
  border-left:none;
}

.tab-menu__item.active{
  background-color:black;
  color:white;
}

.tab-content{
  height:200px;
  width:100%;
  border:1px solid black;
}

.tab-content__item{
  display:none;
  font-size:40px;
}

.tab-content__item.show{
  display:block;
}